.form-element {
    margin-top: 15px;
    max-width: 500px;
    margin: 15px auto;
}

.page {
    min-height: calc(100vh - 125px);
}

.footer-section {
    text-align: center;
    padding: 20px 0;
    background-color: #f5f5f5;
    border-top: 1px solid #e0e0e0;
  }

  .form {
    padding-top: 50px;
  }

  .components {
    padding-top: 50px;
    max-width: 700px;
    margin: auto;
  }